*{
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
}

header{
  margin: 35px 0px;
  font-size: xx-large;
}

.submit{
  padding: 10px 20px;
  border-radius: 10px;
  font-size: large;
  background-color: #3434eb;
  color: aliceblue;
}
.form{
  display: flex;
  justify-content:space-between;
  width: 300px;
  margin: auto;
  border-radius: 30px;
  padding: 10px;
  font-size: x-large;
  background-color: rgb(198, 204, 210);
}

.text{
  border-radius: 30px;
  width:60%;
  height: 30px;
  font-size:x-large;
}

.displayId{
  font-size: x-large;
}

.products{
  font-size:xx-large;
}

.deleteButton{
  font-size: large;
  border-radius: 10px;
  width: 60px;
  background-color: #3434eb;
  color: aliceblue;
}
.edit{
  font-size: large;
  margin-right: 7px;
}
